		body {
    		background-color: White;
    		font-family: 'Raleway', sans-serif;
    		padding:20px 40px 20px 20px;
		}
		
		
			
		.logo {
			width:122px;
			margin-bottom:20px;
			margin-right:5px;
			float:left;
			display:block;
			
		}
		
		.box {
			 width:150px;
			 height:150px;
			 float:left;
			 margin:4px;
			 padding:5px;
			 background-color:#7F4008;
			 margin-bottom:30px; 
		}
		
		.resizedTextbox {
			width: 2em;
			height: 1.5em; 
		}
		
		input {
			padding: .25em;
			margin: 5px 5px 0 0;
		}
		
		label {
			font-family: 'Arial', sans-serif;
		}
		
		.names {
			font-size: 1.25em;
			font-weight: bold;
		}
		
		.pw_header {
			width:52%;
		}
		.pw_output {
			width:52%;
			height:20%;
			float:left;
			background-color: #A1A1A1;
			color: white;
			display:block;
			margin: 0 auto;
			padding: 20px;
			text-align: center;
			margin-bottom: 30px;
		}
		.footer {
			clear: both;
		} 
		
		
		/* navbar */
		.navbar-default {
    		/* background-color: #F8F8F8; */
    		background-color: #F9C2C1;
    		border-color: #E7E7E7;
		}
		
		/* title */
		.navbar-default .navbar-brand {
    		/* color: #777; */
    		color: #F9C2C1;
		}
		
		.navbar-default .navbar-brand:hover,
		.navbar-default .navbar-brand:focus {
    		/* color: #5E5E5E; */
    		color: #F9C2C1;
		}
		
		/* link */
		.navbar-default .navbar-nav > li > a {
    		/* color: #777; */
    		color: #F9C2C1;
		}
		.navbar-default .navbar-nav > li > a:hover,
		.navbar-default .navbar-nav > li > a:focus {
    		color: #333;
		}
		.navbar-default .navbar-nav > .active > a, 
		.navbar-default .navbar-nav > .active > a:hover, 
		.navbar-default .navbar-nav > .active > a:focus {
    		color: #555;
    		background-color: #E7E7E7;
		}
		.navbar-default .navbar-nav > .open > a, 
		.navbar-default .navbar-nav > .open > a:hover, 
		.navbar-default .navbar-nav > .open > a:focus {
    		color: #555;
    		background-color: #D5D5D5;
		}
		/* caret */
		.navbar-default .navbar-nav > .dropdown > a .caret {
    		border-top-color: #777;
    		border-bottom-color: #777;
		}
		.navbar-default .navbar-nav > .dropdown > a:hover .caret,
		.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    		border-top-color: #333;
    		border-bottom-color: #333;
		}
		.navbar-default .navbar-nav > .open > a .caret, 
		.navbar-default .navbar-nav > .open > a:hover .caret, 
		.navbar-default .navbar-nav > .open > a:focus .caret {
    		border-top-color: #555;
    		border-bottom-color: #555;
		}
		/* mobile version */
		.navbar-default .navbar-toggle {
    		border-color: #DDD;
		}
		.navbar-default .navbar-toggle:hover,
		.navbar-default .navbar-toggle:focus {
    		background-color: #DDD;
		}
		.navbar-default .navbar-toggle .icon-bar {
    		background-color: #CCC;
		}
		@media (max-width: 767px) {
    	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
        	color: #777;
    	}
    	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        	color: #333;
    	}
		
		