		body {
    		background-color: White;
    		font-family: 'Raleway', sans-serif;
    		padding:20px 40px 20px 20px;
		}
		
		
			
		.logo {
			width:122px;
			margin-bottom:20px;
			margin-right:5px;
			float:left;
			display:block;
			
		}
		
		.box {
			 width:150px;
			 height:150px;
			 float:left;
			 margin:4px;
			 padding:5px;
			 background-color:#7F4008;
			 margin-bottom:30px; 
		}
		
		.resizedTextbox {
			width: 2em;
			height: 1.5em; 
		}
		
		input {
			padding: .25em;
			margin: 5px 5px 0 0;
		}
		
		label {
			font-family: 'Arial', sans-serif;
		}
		
		.names {
			font-size: 1.25em;
			font-weight: bold;
		}
		
		.pw_header {
			width:52%;
		}
		.pw_output {
			width:52%;
			height:20%;
			float:left;
			background-color: #A1A1A1;
			color: white;
			display:block;
			margin: 0 auto;
			padding: 20px;
			text-align: center;
			margin-bottom: 30px;
		}
		.footer {
			clear: both;
		} 
		
		.ui-accordion {
			width:35%
		}
		
		.ui-accordion-content {
			height:38%
		}
		
		